.logo {
  float: left;
  width: 127px;
  height: 32px;
  margin: 16px 24px 16px 0;
  color: white;
  align-items: center;
  line-height: 32px;
  font-weight: bold;
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}